header {
  user-select: none;
}

header > div {
  height: 480px;
  max-width: 1280px;
  margin: auto;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.color-index {
  background-color: var(--color01);
}
.bg-index {
  background-image: url(/images/index.png);
}

.color-explore {
  background-color: var(--color01);
}
.bg-explore {
  background-image: url(/images/explore.png);
}

.color-cosmology {
  background-color: var(--color05);
}
.bg-cosmology {
  background-image: url(/images/cosmology.png);
}

.color-evolution {
  background-color: var(--color06);
}
.bg-evolution {
  background-image: url(/images/evolution.png);
}

.color-biology {
  background-color: var(--color07);
}
.bg-biology {
  background-image: url(/images/biology.png);
}

.color-robotics {
  background-color: var(--color08);
}
.bg-robotics {
  background-image: url(/images/robotics.png);
}

.color-ecology {
  background-color: var(--color09);
}
.bg-ecology {
  background-image: url(/images/ecology.png);
}

.color-events {
  background-color: var(--color01);
}
.bg-events {
  background-image: url(/images/events.png);
}

.color-visit {
  background-color: var(--color01);
}
.bg-visit {
  background-image: url(/images/visit.png);
}

.color-support {
  background-color: var(--color01);
}
.bg-support {
  background-image: url(/images/support.png);
}

.nav-bar {
  width: 100%;
  height: 96px;
  justify-content: space-between;
  border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

/* LOGO */
.nav-logo {
  height: 96px;
  padding: 0 0 0 1rem;
}

.nav-logo a > img {
  width: 80px;
}

h4 {
  padding: 0 1rem;
  color: var(--color10);
  line-height: 1.25rem;
  flex-direction: column;
  justify-content: center;
}

h4 > span::first-letter {
  font-weight: 700;
}

/* NAV-MENU */
input[type="checkbox"] {
  display: none;
}

nav {
  line-height: 1.75rem;
}

nav > a:hover,
.submenu-list li > a:hover,
.submenu-toggle:hover,
.submenu-hover:hover {
  color: var(--color04);
}

.submenu01,
.submenu02 {
  flex-direction: column;
}

.search > input {
  border: 0;
  padding: 0 1rem;
  background-repeat: no-repeat;
  background-image: url(/images/icons/search.svg);
  background-size: 1.75rem;
}

.search > input:focus {
  outline-color: var(--color02);
  outline-style: solid;
}

.page-bar01,
.page-bar02 {
  box-shadow: 0 -2px 0 var(--color04) inset;
}

.page-on02 {
  color: var(--color04);
}
.submenu-list li > a.page-on02 {
  color: var(--color04);
}

/* NAV INFO */
.menu-title {
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

h1 {
  color: var(--color10);
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.nav-cta > a {
  height: 64px;
  justify-content: center;
  align-items: center;
  color: var(--color10);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color04);
}

.nav-cta > a:hover {
  transition: 0.5s;
  color: var(--color04);
  text-shadow: unset;
  background-color: rgba(252, 246, 237, 1);
  box-shadow: 0 -2px 0 var(--color04) inset;
}

@media only screen and (max-width: 1023.9px) {
  header > div {
    background-position: left 33% top 0;
  }

  .nav-bar {
    flex-wrap: wrap;
  }

  /* NAV INFO */
  #menu-checkbox:checked ~ nav,
  :checked ~ .submenu-list,
  :checked ~ .search {
    display: flex;
  }

  .menu-toggle {
    padding: 0 1rem;
    height: 96px;
    width: 2rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/images/icons/bar.svg);
    background-size: 2rem;
  }

  #menu-checkbox:checked ~ .menu-toggle {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/images/icons/close.svg);
    background-size: 2rem;
  }

  nav {
    order: 2;
    background-color: var(--color02);
  }

  .submenu-hover {
    display: none;
  }

  .submenu-list {
    background-color: var(--color01);
  }

  nav,
  .submenu-list,
  .search {
    z-index: 1;
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav > a,
  .submenu-toggle,
  .submenu-list li > a {
    color: var(--color10);
    padding: 0 1rem;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  }

  .search > input {
    color: var(--color01);
    height: 64px;
    background-color: var(--color03);
    background-position: top 50% right 1rem;
  }

  .search > input::placeholder {
    text-align: center;
  }

  .page-bar02 {
    box-shadow: unset;
  }
  .page-on01 {
    color: var(--color04);
  }

  /* NAV INFO */
  .nav-cta > a {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  header > div {
    background-position: center;
  }

  .menu-toggle {
    display: none;
  }

  nav > a {
    align-items: center;
    padding: 0 1rem;
    color: var(--color10);
  }

  .submenu01 {
    width: 160px;
  }

  .submenu02 {
    width: 128px;
  }

  .submenu-toggle {
    display: none;
  }

  .submenu-hover {
    display: flex;
    min-height: 96px;
    justify-content: center;
    align-items: center;
    color: var(--color10);
  }

  .submenu01:hover > .submenu-list,
  .submenu02:hover > .submenu-list {
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset;
    border-top: 1px rgba(255, 255, 255, 0.25) solid;
  }

  .submenu-list {
    z-index: 1;
    display: none;
    flex-direction: column;
    background-color: var(--color01);
  }

  .submenu-list li > a {
    padding: 1rem;
    justify-content: center;
    color: var(--color10);
  }

  .search {
    width: 218px;
    padding: 0 1rem;
    align-items: center;
  }

  .search > input {
    box-sizing: border-box;
    color: var(--color10);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    background-position: top 50% right 0.25rem;
    box-shadow: 0 0 0 1px inset rgba(255, 255, 255, 0.05);
  }

  /* NAV INFO */
  .nav-cta {
    justify-content: flex-end;
    padding: 0 1rem;
  }
  .nav-cta > a {
    width: 300px;
  }
}
