.grid-explore02 {
  background-color: var(--color03);
}
.explore01 {
  grid-area: itm01;
}
.explore02 {
  grid-area: itm02;
  height: 300px;
  background-image: url("/images/explore/michal-parzuchowski_01.jpg");
}
.explore03 {
  grid-area: itm03;
  height: 300px;
  background-image: url("/images/explore/pikwizard_02.jpg");
}
.explore04 {
  grid-area: itm04;
}
.explore05 {
  grid-area: itm05;
  background-image: url("/images/explore/mammoth_01.jpg");
}
.explore06 {
  grid-area: itm06;
  background-image: url("/images/explore/stem_01.jpg");
}
.explore07 {
  grid-area: itm07;
}
.explore08 {
  grid-area: itm08;
}
.explore09 {
  grid-area: itm09;
}
div.explore09 {
  flex-basis: 100%;
}
.explore10 {
  grid-area: itm10;
}
.explore11 {
  grid-area: itm11;

  background-image: url("/images/explore/pexels-artem-podrez_01.jpg");
}
.explore12 {
  grid-area: itm12;

  background-image: url("/images/explore/kids_microscope_01.jpg");
}
.explore13 {
  grid-area: itm13;
}
.explore14 {
  grid-area: itm14;
}
div.explore14 {
  flex-basis: 100%;
}
.explore15 {
  grid-area: itm15;
}
.explore16 {
  grid-area: itm16;

  background-image: url("/images/explore/science_01.jpg");
}
@media only screen and (min-width: 1024px) {
  .grid-explore01 > div {
    grid-template-areas:
      "itm01 . . ."
      "itm02 itm03 itm04 ."
      "itm05 itm05 itm06 itm06"
      ". itm07 . itm08";
  }
  .grid-explore02 > div {
    grid-template-areas:
      "itm09 . . ."
      "itm10 itm11 itm11 itm11"
      "itm12 itm12 itm12 itm13";
  }
  .grid-explore03 > div {
    grid-template-areas:
      "itm14 . . ."
      "itm15 itm16 itm16 itm16";
  }
}
