main > div {
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper-support01,
.wrapper-support02 {
  flex: 1;
  flex-wrap: wrap;
}

.wrapper-support03 {
  flex: 2;
  flex-wrap: wrap;
}
.flex {
  border-top: 2px var(--color04) solid;
}

.support01 {
  grid-area: itm01;
}

.support02 {
  grid-area: itm02;
}
.support03 {
  grid-area: itm03;
}
.support03 > img {
  height: 300px;
}
.support04 {
  grid-area: itm04;
}
.support05 {
  grid-area: itm05;
}
.support06 {
  grid-area: itm06;
}
.support07 {
  grid-area: itm07;
}
.support07 > img {
  height: 300px;
}
.support08 {
  grid-area: itm08;
}
.support09 {
  grid-area: itm09;
}
.support10 {
  grid-area: itm10;
}
.support11 {
  grid-area: itm11;
}
.support11 > img {
  object-position: 50% 20%;
  height: 300px;
}

@media only screen and (min-width: 1024px) {
  div[class^="grid"] > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-support01 > div {
    grid-template-areas:
      "itm01 itm01"
      "itm02 itm02"
      "itm03 itm03"
      "itm04 itm04";
  }
  .grid-support02 > div {
    grid-template-areas:
      "itm05 itm05"
      "itm06 itm06"
      "itm07 itm07"
      "itm08 itm08";
  }
  .grid-support03 > div {
    grid-template-areas:
      "itm09 itm09"
      "itm10 itm11"
      "itm10 itm11";
  }
  .support11 > img {
    height: 616px;
  }
}
