.cosmology01 {
  grid-area: itm01;
}
.cosmology02 {
  grid-area: itm02;
}
.cosmology02 > img {
  height: 300px;
}
.cosmology03 {
  grid-area: itm03;
}
.cosmology03 > img {
  height: 300px;
}
.cosmology04 {
  grid-area: itm04;
}
.cosmology05 {
  grid-area: itm05;
}
.cosmology06 {
  grid-area: itm06;
}
.cosmology07 {
  grid-area: itm07;
  height: 100%;
  justify-content: flex-end;
}
.cosmology08 {
  grid-area: itm08;
}
.cosmology09 {
  grid-area: itm09;
}
.cosmology10 {
  grid-area: itm10;
}

@media only screen and (min-width: 1024px) {
  .grid-cosmology01 > div {
    grid-template-areas:
      "itm01 . . ."
      "itm02 itm03 itm04 itm05"
      "itm02 itm06 itm06 itm07"
      "itm08 itm08 itm09 itm10";
  }
  .cosmology02 > img {
    height: 616px;
  }
}
