header {
  background-color: var(--color01);
  user-select: none;
}

header > div {
  display: flex;
  height: 480px;
  max-width: 1280px;
  margin: auto;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/explore_s.png);
}

nav {
  width: 100%;
  height: 96px;
  justify-content: space-between;
  border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
}

/* LOGO */
.nav-logo {
  height: 96px;
  padding: 0 0 0 1rem;
}

.nav-logo > img {
  width: 80px;
}

.nav-logo > ul {
  padding: 0 1rem;
  color: var(--color10);
  line-height: 1.25rem;
  flex-flow: column;
  justify-content: center;
}

/* NAV-MENU */
input[type="checkbox"] {
  display: none;
}

.menu-list > a:hover,
.submenu-list > a:hover,
.submenu-toggle:hover,
.submenu-hover:hover {
  color: var(--color04);
}

.submenu01,
.submenu02 {
  flex-direction: column;
}

.search > input {
  border: 0;
  padding: 0 1rem;
  background-repeat: no-repeat;
  background-image: url(/images/icons/search.svg);
  background-size: 1.75rem;
}

/* NAV INFO */
.menu-title {
  justify-content: center;
  flex-flow: column;
  height: 100%;
}

.breadcrumbs {
  color: var(--color10);
  justify-content: flex-end;
  padding: 1rem;
}

ul.breadcrumbs li + li:before {
  padding: 0.25rem;
  content: "/";
}

h1 {
  color: var(--color10);
  flex: 1;
  flex-flow: column;
  justify-content: flex-end;
  padding: 0 1rem;
  text-shadow: 0 0 8px var(--color01);
}

.nav-cta > a {
  height: 64px;
  justify-content: center;
  align-items: center;
  color: var(--color10);
  background-color: var(--color04);
}

@media only screen and (max-width: 1023.9px) {
  header > div {
    background-position: left 25% bottom 0;
  }

  nav {
    flex-wrap: wrap;
  }

  /* NAV INFO */
  #menu-checkbox:checked ~ .menu-list,
  :checked ~ .submenu-list,
  :checked ~ .search {
    display: flex;
  }

  .menu-toggle {
    padding: 0 1rem;
    height: 96px;
    width: 2rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/images/icons/bar.svg);
    background-size: 2rem;
  }

  #menu-checkbox:checked ~ .menu-toggle {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/images/icons/close.svg);
    background-size: 2rem;
  }

  .menu-list {
    order: 2;
    background-color: var(--color02);
  }

  .submenu-hover {
    display: none;
  }

  .submenu-list {
    background-color: var(--color01);
  }

  .menu-list,
  .submenu-list,
  .search {
    z-index: 1;
    display: none;
    flex-flow: column;
    width: 100%;
  }

  .menu-list > a,
  .submenu-toggle,
  .submenu-list > a {
    color: var(--color10);
    padding: 0 1rem;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  }

  .search > input {
    color: var(--color01);
    height: 64px;
    background-color: var(--color03);
    background-position: top 50% right 1rem;
  }

  .search > input::placeholder {
    text-align: center;
  }

  /* NAV INFO */
  .nav-cta > a {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  header > div {
    background-position: center;
  }

  .menu-toggle {
    display: none;
  }

  .menu-list > a {
    align-items: center;
    padding: 0 1rem;
    color: var(--color10);
  }

  .submenu01 {
    width: 160px;
  }

  .submenu02 {
    width: 128px;
  }

  .submenu-toggle {
    display: none;
  }

  .submenu-hover {
    display: flex;
    min-height: 96px;
    justify-content: center;
    align-items: center;
    color: var(--color10);
  }

  .submenu01:hover > .submenu-list,
  .submenu02:hover > .submenu-list {
    display: flex;
  }

  .submenu-list {
    z-index: 1;
    display: none;
    flex-direction: column;
    background-color: var(--color01);
  }

  .submenu-list > a {
    padding: 1rem;
    justify-content: center;
    color: var(--color10);
  }

  .search {
    width: 218px;
    padding: 0 1rem;
    align-items: center;
  }

  .search > input {
    box-sizing: border-box;
    color: var(--color10);
    width: 100%;
    background-color: var(--color01);
    background-position: top 50% right 0.25rem;
    box-shadow: 0 0 0 1px inset rgba(255, 255, 255, 0.05);
  }

  /* NAV INFO */
  .nav-cta {
    justify-content: flex-end;
    padding: 0 1rem;
  }
  .nav-cta > a {
    width: 300px;
  }
}
