main > div {
  color: var(--color01);
  flex-direction: column;
  margin: auto;
  max-width: 648px;
  padding: 4rem 0 4rem;
}

/* TITLE INDEX  */
.title-index {
  align-items: center;
  flex-direction: column;
}
.title-index > h2 {
  padding: 0 1rem 1rem;
}
.title-index > p {
  max-width: 480px;
  padding: 0 1rem;
}

/* GLOBAL GRID-FLEX */
.flex {
  padding: 1.5rem 0 1.5rem;
  margin: 0 0.5rem;
  flex-wrap: wrap;
}
.flex div {
  margin: 0.5rem;
  flex: 1;
  min-width: 210px;
  width: 100%;
  flex-wrap: wrap;
}
.img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 42.5vmin;
  max-height: 300px;
  box-shadow: 0 2px 04px rgba(0, 0, 0, 0.25);
}

/* INDEX  */
.index01 {
  background-image: url("/images/index/skeleton_01.jpg");
}
.index03 {
  max-height: 200px;
  background-image: url("/images/index/andrew-ruiz_01.jpg");
}
.index04 {
  max-height: 200px;
  background-image: url("/images/index/pikwizard_01.jpg");
}
.index06 {
  background-image: url("/images/index/insung-yoon_01.jpg");
}
.index07 {
  background-image: url("/images/index/pexels-scott_01.jpg");
}
.index08 {
  flex-direction: column;
}
.index09 > a {
  color: var(--color10);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color11);
  cursor: pointer;
  user-select: none;
}
.index09 > a:hover {
  transition: 0.5s;
  color: var(--color11);
  text-shadow: unset;
  background-color: rgba(204, 82, 82, 0.1);
  box-shadow: 0 0 0 1px var(--color11) inset;
}

/* EXPLORE  */
.grid-explore01 {
  border-bottom: 1px var(--color04) solid;
}

.explore01 {
  flex-direction: column;
}
.explore02 {
  background-image: url("/images/explore/michal-parzuchowski_01.jpg");
}
.explore03 {
  background-image: url("/images/explore/pikwizard_02.jpg");
}
.explore05 {
  max-height: 200px;
  background-image: url("/images/explore/mammoth_01.jpg");
}
.explore06 {
  max-height: 200px;
  background-image: url("/images/explore/stem_01.jpg");
}
div.explore09 {
  min-width: 410px;
}
.explore11 {
  max-height: 200px;
  background-image: url("/images/explore/pexels-artem-podrez_01.jpg");
}
.explore12 {
  max-height: 200px;
  background-image: url("/images/explore/kids_microscope_01.jpg");
}
div.explore14 {
  min-width: 410px;
}
.explore16 {
  max-height: 200px;
  background-image: url("/images/explore/science_01.jpg");
}

@media only screen and (min-width: 1024px) {
  main > div {
    max-width: 1280px;
  }

  /* GLOBAL GRID-FLEX */
  .flex {
    margin: unset;
    flex-wrap: unset;
  }
  .flex div {
    margin: unset;
    flex: unset;
    min-width: unset;
    width: unset;
    flex-wrap: unset;
  }
  div[class^="grid"] {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 2rem 1rem 2rem;
  }

  /* INDEX  */
  .grid-index {
    grid-template-areas:
      "itm01 itm02 itm03 itm03"
      "itm04 itm04 itm05 itm06"
      "itm07 itm07 itm07 itm08"
      "itm07 itm07 itm07 itm09";
  }
  .index01 {
    grid-area: itm01;
  }
  .index02 {
    grid-area: itm02;
  }
  .index03 {
    max-height: 300px;
    grid-area: itm03;
  }
  .index04 {
    max-height: 300px;
    grid-area: itm04;
  }
  .index05 {
    grid-area: itm05;
  }
  .index06 {
    grid-area: itm06;
  }
  .index07 {
    max-height: 616px;
    grid-area: itm07;
  }
  .index08 {
    grid-area: itm08;
  }
  .index09 {
    display: flex;
    align-items: flex-end;
    height: 100%;
    grid-area: itm09;
  }

  /* EXPLORE  */
  .grid-explore01 {
    grid-template-areas:
      "itm01 . . ."
      "itm02 itm03 itm04 ."
      "itm05 itm05 itm06 itm06"
      ". itm07 . itm08";
  }
  .grid-explore02 {
    grid-template-areas:
      "itm09 . . ."
      "itm10 itm11 itm11 itm11"
      "itm12 itm12 itm12 itm13";
  }
  .explore01 {
    grid-area: itm01;
  }
  .explore02 {
    grid-area: itm02;
  }
  .explore03 {
    grid-area: itm03;
  }
  .explore04 {
    grid-area: itm04;
  }
  .explore05 {
    max-height: 300px;
    grid-area: itm05;
  }
  .explore06 {
    max-height: 300px;
    grid-area: itm06;
  }
  .explore07 {
    flex-direction: column;
    grid-area: itm07;
  }

  .explore08 {
    grid-area: itm08;
  }
  .explore09 {
    grid-area: itm09;
  }
  .explore10 {
    grid-area: itm10;
  }
  .explore11 {
    max-height: 300px;
    grid-area: itm11;
  }
  .explore12 {
    max-height: 300px;
    grid-area: itm12;
  }
  .explore13 {
    grid-area: itm13;
  }
}
