.ecology01 {
  grid-area: itm01;
}
.ecology02 {
  grid-area: itm02;
}
.ecology02 > img {
  height: 300px;
}
.ecology03 {
  grid-area: itm03;
}
.ecology04 {
  grid-area: itm04;
}
.ecology05 {
  grid-area: itm05;
}
.ecology06 {
  grid-area: itm06;
}
.ecology07 {
  grid-area: itm07;
}
.ecology08 {
  grid-area: itm08;
}
.ecology09 {
  grid-area: itm09;
}
.ecology09 > img {
  height: 300px;
  object-position: 50% 100%;
}

@media only screen and (min-width: 1024px) {
  .grid-ecology01 > div {
    grid-template-areas:
      "itm01 . . ."
      "itm02 itm03 itm04 itm04"
      "itm02 itm05 itm05 itm06"
      "itm08 itm08 itm07 itm09";
  }
  .ecology02 > img {
    height: 616px;
  }
}
