.robotics01 {
  grid-area: itm01;
}
.robotics02 {
  grid-area: itm02;
}
.robotics03 {
  grid-area: itm03;
}
.robotics04 {
  grid-area: itm04;
}
.robotics05 {
  grid-area: itm05;
}
.robotics06 {
  grid-area: itm06;
}
.robotics07 {
  grid-area: itm07;
}
.robotics08 {
  grid-area: itm08;
}
.robotics08 > img {
  object-position: 50% 25%;
}
.robotics09 {
  grid-area: itm09;
}
@media only screen and (min-width: 1024px) {
  .grid-robotics01 > div {
    grid-template-areas:
      "itm01 . . ."
      "itm02 itm03 itm04 itm04"
      "itm05 itm05 itm06 itm08"
      "itm09 itm09 itm07 itm08";
  }
  .robotics08 > img {
    object-position: unset;
    height: 616px;
  }
}
