.biology01 {
  grid-area: itm01;
}
.biology02 {
  grid-area: itm02;
}
.biology03 {
  grid-area: itm03;
}
.biology04 {
  grid-area: itm04;
}
.biology04 > img {
  height: 300px;
}
.biology05 {
  grid-area: itm05;
}
.biology05 > img {
  height: 300px;
}
.biology06 {
  grid-area: itm06;
}
.biology07 {
  grid-area: itm07;
}
.biology08 {
  grid-area: itm08;
}
.biology09 {
  grid-area: itm09;
}
.biology10 {
  grid-area: itm10;
}

@media only screen and (min-width: 1024px) {
  .grid-biology01 > div {
    grid-template-areas:
      "itm01 . . ."
      "itm02 itm02 itm03 itm04"
      "itm05 itm06 itm07 itm07"
      "itm08 itm08 itm09 itm10";
  }
}
