main > div {
  color: var(--color01);
  flex-direction: column;
  margin: auto;
  max-width: 648px;
  padding: 4rem 0 4rem;
}

.main-wrapper {
  padding: 1rem 0;
}

.flex {
  box-sizing: border-box;
  padding: 0.5rem;
  flex-wrap: wrap;
}
.flex div {
  margin: 0.5rem;
  flex: 1;
  min-width: 210px;
  width: 100%;
  flex-wrap: wrap;
}
.img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 42.5vmin;
  max-height: 300px;
  box-shadow: 0 2px 04px rgba(0, 0, 0, 0.25);
}

.main-line {
  margin: 0 1rem;
  height: 1px;
  background-color: var(--color04);
}

@media only screen and (min-width: 1024px) {
  main > div {
    max-width: 1280px;
  }
  .flex {
    margin: unset;
    flex-wrap: unset;
  }
  .flex div {
    margin: unset;
    flex: unset;
    min-width: unset;
    width: unset;
    flex-wrap: unset;
  }
  div[class^="grid"] {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
  }
}
