main > div {
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper-events01,
.wrapper-events02 {
  flex: 1;
  flex-wrap: wrap;
}
.wrapper-events03 {
  flex: 2;
  flex-wrap: wrap;
}
.flex {
  border-top: 2px var(--color04) solid;
}

.events01 {
  grid-area: itm01;
}
.events02 {
  grid-area: itm02;
}
.events02 > img {
  height: 300px;
}
.events03 {
  grid-area: itm03;
}
.events04 {
  grid-area: itm04;
}
.events05 {
  grid-area: itm05;
}
.events06 {
  grid-area: itm06;
}
.events06 > img {
  height: 300px;
}
.events07 {
  grid-area: itm07;
}
.events08 {
  grid-area: itm08;
}
.events09 {
  grid-area: itm09;
}
.events09 > img {
  object-position: 50% 75%;
  height: 300px;
}

@media only screen and (min-width: 1024px) {
  div[class^="grid"] > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-events01 > div {
    grid-template-areas:
      "itm01 itm01"
      "itm02 itm02"
      "itm03 itm03";
  }
  .grid-events02 > div {
    grid-template-areas:
      "itm04 itm04"
      "itm05 itm05"
      "itm06 itm06";
  }
  .grid-events03 > div {
    grid-template-areas:
      "itm07 itm07"
      "itm08 itm09"
      "itm08 itm09";
  }
  .events09 > img {
    object-position: unset;
    height: 616px;
  }
}
