main > div {
  color: var(--color01);
  flex-direction: column;
  margin: auto;
  max-width: 640px;
}

/* GRID GLOBAL */
div[class^="grid"] {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 1rem;
  padding: 1rem 1rem 8rem 1rem;
}

div[class^="ctnr"] {
  height: 42.5vmin;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

/* GRID INDEX */
.ctnr-index01 {
  max-height: 300px;
  background-image: url("/images/index/skeleton_01_b.jpg");
}
.ctnr-index03 {
  max-height: 200px;
  background-image: url("/images/index/andrew-ruiz_01.png");
}
.ctnr-index04 {
  max-height: 200px;
  background-image: url("/images/index/pikwizard_01.png");
}
.ctnr-index06 {
  max-height: 300px;
  background-image: url("/images/index/insung-yoon_01.png");
}
.ctnr-index07 {
  max-height: 200px;
  background-image: url("/images/index/pexels-scott_01.jpg");
}
.ctnr-index10 {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

/* TITLE INDEX  */
.title-index {
  align-items: center;
  flex-direction: column;
  padding: 4rem 1rem;
}
.title-index > h2 {
  padding: 1rem;
}

.title-index > p {
  max-width: 480px;
}

/* CTA INDEX */
.ctnr-index10 > a {
  color: var(--color10);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color11);
  cursor: pointer;
  user-select: none;
}

.ctnr-index10 > a:hover {
  transition: 0.5s;
  color: var(--color11);
  text-shadow: unset;
  background-color: var(--color10);
  box-shadow: 0 0 0 1px var(--color11) inset;
}

@media only screen and (min-width: 1024px) {
  main > div {
    max-width: 1280px;
  }

  /* GRID GLOBAL */
  div[class^="grid"] {
    grid-template-columns: repeat(4, 1fr);
  }

  div[class^="ctnr"] {
    height: 50vmin;
    min-height: 300px;
  }

  /* GRID INDEX */
  .grid-index {
    grid-template-areas:
      "itm01 itm02 itm03 itm03"
      "itm04 itm04 itm05 itm06"
      "itm07 itm07 itm07 itm08"
      "itm07 itm07 itm07 itm09"
      "itm07 itm07 itm07 itm10";
  }
  .ctnr-index01 {
    grid-area: itm01;
  }
  .ctnr-index02 {
    grid-area: itm02;
  }
  .ctnr-index03 {
    grid-area: itm03;
  }
  .ctnr-index04 {
    grid-area: itm04;
  }
  .ctnr-index05 {
    grid-area: itm05;
  }
  .ctnr-index06 {
    grid-area: itm06;
  }
  .ctnr-index07 {
    max-height: 466px;
    grid-area: itm07;
  }
  .ctnr-index08 {
    grid-area: itm08;
  }
  .ctnr-index09 {
    grid-area: itm09;
  }
  .ctnr-index10 {
    grid-area: itm10;
  }
}

/*.grid-01 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-areas:*/
/*"itm01"
      "itm02"
      "itm03"
      "itm04"
      "itm05"
      "itm06"
      "itm07"
      "itm08";*/
/*"itm01 itm02"
      "itm03 itm04"
      "itm05 itm06"
      "itm07 itm07"
      "itm08 itm08";*/

/*.grid-item01 {
    grid-area: itm01;
    /*background-image: url("/images/index/skeleton_01_s.jpg");*/

/*max-height: 20vh;
    min-height: 20vw;*/
