main > div {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex div {
  flex-basis: 100%;
}

.wrapper-events01 {
  align-items: flex-start;
  flex: 1;
}
.wrapper-events02 {
  align-items: flex-start;
  flex: 1;
  background-color: var(--color03);
}
.wrapper-events03 {
  align-items: flex-start;
  flex: 2;
  color: var(--color10);
  background-color: var(--color02);
}
.events01 {
  grid-area: itm01;
}
.events02 {
  grid-area: itm02;
  height: 300px;
  background-image: url("/images/events/50477890088_01.jpg");
}
.events03 {
  grid-area: itm03;
}
.events04 {
  grid-area: itm04;
}
.events05 {
  grid-area: itm05;
}
.events06 {
  grid-area: itm06;
  height: 300px;
  background-image: url("/images/events/maud_01.jpg");
}
.events07 {
  grid-area: itm07;
}
.events08 {
  grid-area: itm08;
}
.events09 {
  grid-area: itm09;
  height: 300px;
  background-image: url("/images/events/nazrin-b-va_01.jpg");
}

@media only screen and (min-width: 1024px) {
  div[class^="grid"] {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-events01 {
    grid-template-areas:
      "itm01 itm01"
      "itm02 itm02"
      "itm03 itm03";
  }
  .grid-events02 {
    grid-template-areas:
      "itm04 itm04"
      "itm05 itm05"
      "itm06 itm06";
  }
  .grid-events03 {
    grid-template-areas:
      "itm07 itm07"
      "itm08 itm09"
      "itm08 itm09";
  }
  .events09 {
    height: 616px;
  }
}
