.title-index {
  padding: 0 0 1rem;
  align-items: center;
  flex-direction: column;
}
.title-index > h2 {
  padding: 0 1rem;
}
.title-index > p {
  max-width: 480px;
  padding: 1rem;
}

.index01 {
  grid-area: itm01;
}
.index01 img {
  height: 300px;
}
.index02 {
  grid-area: itm02;
}
.index03 {
  grid-area: itm03;
}
.index04 {
  grid-area: itm04;
}
.index05 {
  grid-area: itm05;
}
.index06 {
  grid-area: itm06;
}
.index06 > img {
  height: 300px;
}
.index07 {
  grid-area: itm07;
}
.index07 > img {
  height: 300px;
}
.index08 {
  grid-area: itm08;
}
.index09 {
  grid-area: itm09;
  height: 100%;
  justify-content: flex-end;
}
.index09 > a {
  color: var(--color10);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(153, 31, 31);
  box-shadow: 0 0px 40px 16px var(--color11) inset;
  cursor: pointer;
  user-select: none;
}
.index09 > a:hover {
  transition: 0.3s;
  color: var(--color11);
  text-shadow: unset;
  background-color: var(--color10);
  box-shadow: 0 0 0 2px var(--color11) inset;
}

@media only screen and (min-width: 1024px) {
  .grid-index > div {
    grid-template-areas:
      "itm01 itm02 itm03 itm03"
      "itm04 itm04 itm05 itm06"
      "itm07 itm07 itm07 itm08"
      "itm07 itm07 itm07 itm09";
  }
  .index07 > img {
    height: 616px;
  }
}
