.evolution01 {
  grid-area: itm01;
}
.evolution02 {
  grid-area: itm02;
}
.evolution02 > img {
  height: 300px;
}
.evolution03 {
  grid-area: itm03;
}
.evolution04 {
  grid-area: itm04;
}
.evolution05 {
  grid-area: itm05;
  height: 100%;
  justify-content: flex-end;
}
.evolution06 {
  grid-area: itm06;
}
.evolution07 {
  grid-area: itm07;
}
.evolution08 {
  grid-area: itm08;
}
.evolution09 {
  grid-area: itm09;
}
.evolution10 {
  grid-area: itm10;
}

@media only screen and (min-width: 1024px) {
  .grid-evolution01 > div {
    grid-template-areas:
      "itm01 . . ."
      "itm02 itm03 itm04 itm05"
      "itm02 itm06 itm06 itm07"
      "itm08 itm08 itm09 itm10";
  }
  .evolution02 > img {
    height: 616px;
  }
}
