@media only screen and (min-width: 1024px) {
  .grid-cosmology01 {
    grid-template-areas:
      "itm01 . . ."
      "itm02 itm03 itm04 ."
      "itm05 itm05 itm06 itm06"
      ". itm07 . itm08";
  }
}
