main > div {
  color: var(--color01);
  flex-direction: column;
  margin: auto;
  max-width: 648px;
  padding: 4rem 0 4rem;

  font-size: 1.25rem;
  line-height: 1.75rem;
}

div[class^="grid"] {
  flex: 1;
  align-items: flex-start;
}

.flex {
  flex: 1;
  flex-wrap: wrap;
  margin: 0 1rem;
  padding: 1.5rem 0;
}

.flex > div,
.flex > ul {
  margin: 0.5rem 0;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 260px;
  flex-basis: 100%;
}
.flex li {
  display: flex;
  justify-content: space-between;
}
/*.flex {
  padding: 1.5rem 0.5rem;
  flex-wrap: wrap;
}
.flex div,
.flex ul {
  margin: 0.5rem;
  flex: 1;
  min-width: 260px;
  flex-direction: column;
}
.flex li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}*/
.img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 42.5vmin;
  height: 200px;
  box-shadow: 0 2px 04px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 1024px) {
  main > div {
    max-width: 1280px;
  }
  .flex {
    flex-wrap: unset;
  }
  .flex div,
  .flex ul {
    margin: unset;
    flex: unset;
    min-width: unset;
  }
  .img {
    max-height: unset;
    height: 300px;
  }
  div[class^="grid"] > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 2rem 0;
  }
}
