main > div {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex div {
  flex-basis: 100%;
}

.wrapper-support01 {
  align-items: flex-start;
  flex: 1;
}

.wrapper-support02 {
  align-items: flex-start;
  flex: 1;
  background-color: var(--color03);
}

.wrapper-support03 {
  align-items: flex-start;
  flex: 2;
  color: var(--color10);
  background-color: var(--color02);
}

.support01 {
  grid-area: itm01;
}

.support02 {
  grid-area: itm02;
}
.support03 {
  grid-area: itm03;
  height: 300px;
  background-image: url("/images/support/pexels-andrea-piacquadio_01.jpg");
}
.support04 {
  grid-area: itm04;
}
.support05 {
  grid-area: itm05;
}
.support06 {
  grid-area: itm06;
}
.support07 {
  grid-area: itm07;
  height: 300px;
  background-image: url("/images/support/pexels-thisisengineering_01.jpg");
}
.support08 {
  grid-area: itm08;
}
.support09 {
  grid-area: itm09;
}
.support10 {
  grid-area: itm10;
}
.support11 {
  grid-area: itm11;
  height: 300px;
  background-position: left 50% top 20%;
  background-image: url("/images/support/ray-sangga-kusuma_01.jpg");
}

@media only screen and (min-width: 1024px) {
  div[class^="grid"] {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-support01 {
    grid-template-areas:
      "itm01 itm01"
      "itm02 itm02"
      "itm03 itm03"
      "itm04 itm04";
  }
  .grid-support02 {
    grid-template-areas:
      "itm05 itm05"
      "itm06 itm06"
      "itm07 itm07"
      "itm08 itm08";
  }
  .grid-support03 {
    grid-template-areas:
      "itm09 itm09"
      "itm10 itm11"
      "itm10 itm11";
  }
  .support11 {
    height: 616px;
  }
}
