.grid-explore02 {
  background-color: var(--color03);
}
.explore01 {
  grid-area: itm01;
}
.explore02 {
  grid-area: itm02;
}
.explore02 > img {
  height: 300px;
}
.explore03 {
  grid-area: itm03;
}
.explore03 > img {
  height: 300px;
}
.explore04 {
  grid-area: itm04;
}
.explore05 {
  grid-area: itm05;
}
.explore06 {
  grid-area: itm06;
}
.explore07 {
  grid-area: itm07;
}
.explore08 {
  grid-area: itm08;
}
.explore09 {
  grid-area: itm09;
}
div.explore09 {
  flex-basis: 100%;
}
.explore10 {
  grid-area: itm10;
}
.explore11 {
  grid-area: itm11;
}
.explore12 {
  grid-area: itm12;
}
.explore13 {
  grid-area: itm13;
}
.explore14 {
  grid-area: itm14;
}
div.explore14 {
  flex-basis: 100%;
}
.explore15 {
  grid-area: itm15;
}
.explore16 {
  grid-area: itm16;
}
@media only screen and (min-width: 1024px) {
  .grid-explore01 > div {
    grid-template-areas:
      "itm01 . . ."
      "itm02 itm03 itm04 ."
      "itm05 itm05 itm06 itm06"
      ". itm07 . itm08";
  }
  .grid-explore02 > div {
    grid-template-areas:
      "itm09 . . ."
      "itm10 itm11 itm11 itm11"
      "itm12 itm12 itm12 itm13";
  }
  .grid-explore03 > div {
    grid-template-areas:
      "itm14 . . ."
      "itm15 itm16 itm16 itm16";
  }
}
