main > div {
  flex-direction: column;
  flex-wrap: wrap;
}

.wrapper-visit01,
.wrapper-visit02 {
  flex-wrap: wrap;
}

.flex {
  border-top: 2px var(--color04) solid;
}

.visit01 {
  grid-area: itm01;
}
.visit02 {
  grid-area: itm02;
}
.visit03 {
  grid-area: itm03;
}
.visit04 {
  grid-area: itm04;
}
.visit05 {
  grid-area: itm05;
  height: 300px;
  background-image: url("/images/visit/map.jpg");
}
.visit06 {
  grid-area: itm06;
}
.visit07 {
  grid-area: itm07;
  font-weight: 700;
}
.visit08 {
  grid-area: itm08;
}
.visit09 {
  grid-area: itm09;
}
.visit10 {
  grid-area: itm10;
}
.visit11 {
  grid-area: itm11;
}
.visit12 {
  grid-area: itm12;
  height: 300px;
  background-image: url("/images/visit/pexels-anna_01.jpg");
}
.visit13 {
  grid-area: itm13;
}
.visit14 {
  grid-area: itm14;
}
.visit15 {
  grid-area: itm15;
  height: 300px;
  background-image: url("/images/visit/jerry-wang_01.jpg");
}
.visit16 {
  grid-area: itm16;
}

@media only screen and (min-width: 1024px) {
  div[class^="grid"] > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-visit01 > div {
    grid-template-areas:
      "itm01 itm01"
      "itm02 itm02";
  }
  .grid-visit02 > div {
    grid-template-areas:
      "itm03 itm03"
      "itm04 itm04"
      "itm05 itm05";
  }
  .grid-visit03 > div {
    grid-template-areas:
      "itm06 itm06"
      "itm07 itm07"
      "itm08 itm08";
  }
  .grid-visit04 > div {
    grid-template-areas:
      "itm09 itm09"
      "itm10 itm10";
  }
  .grid-visit05 > div {
    grid-template-areas:
      "itm11 itm11"
      "itm12 itm12"
      "itm13 itm13";
  }
  .grid-visit06 > div {
    grid-template-areas:
      "itm14 itm14"
      "itm15 itm15"
      "itm16 itm16";
  }
}
