main > div {
  color: var(--color01);
  flex-direction: column;
  margin: auto;
  max-width: 648px;
  padding: 4rem 0 4rem;
}
.flex {
  padding: 1.5rem 0.5rem;
  flex-wrap: wrap;
}
.flex div {
  margin: 0.5rem;
  flex: 1;
  min-width: 210px;
  flex-direction: column;
}
.img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 42.5vmin;
  height: 200px;
  box-shadow: 0 2px 04px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 1024px) {
  main > div {
    max-width: 1280px;
  }
  .flex {
    flex-wrap: unset;
  }
  .flex div {
    margin: unset;
    flex: unset;
    min-width: unset;
  }
  .img {
    max-height: unset;
    height: 300px;
  }
  div[class^="grid"] {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 2rem 1rem;
  }
}
